#nosotros{
    background-color: var(--color-blanco);
    color: var(--color-negro);
}
.btn-primary {
    background: #8BB867;
    color: #fff;
    border-color: #8BB867;
}
.btn-primary:hover{
    background-color: #fff;
    color: #8BB867;
    border-color: #8BB867;
}
.btn {
    padding: 11px 27px;
    border-radius: 0px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p{
   font-family:  var(--e-global-typography-text-font-family);
}